
@keyframes ldio-cvhceuidivw {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}
.ldio-cvhceuidivw div { box-sizing: border-box!important }
.ldio-cvhceuidivw > div {
  position: absolute;
  width: 98.64000000000001px;
  height: 98.64000000000001px;
  top: 19.18px;
  left: 19.18px;
  border-radius: 50%;
  border: 10.96px solid #000;
  border-color: #0a0a0a transparent #0a0a0a transparent;
  animation: ldio-cvhceuidivw 2.564102564102564s linear infinite;
}

.ldio-cvhceuidivw > div:nth-child(2), .ldio-cvhceuidivw > div:nth-child(4) {
  width: 73.98px;
  height: 73.98px;
  top: 31.51px;
  left: 31.51px;
  animation: ldio-cvhceuidivw 2.564102564102564s linear infinite reverse;
}
.ldio-cvhceuidivw > div:nth-child(2) {
  border-color: transparent #28292f transparent #28292f
}
.ldio-cvhceuidivw > div:nth-child(3) { border-color: transparent }
.ldio-cvhceuidivw > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-cvhceuidivw > div:nth-child(3) div:before, .ldio-cvhceuidivw > div:nth-child(3) div:after { 
  content: "";
  display: block;
  position: absolute;
  width: 10.96px;
  height: 10.96px;
  top: -10.96px;
  left: 32.88px;
  background: #0a0a0a;
  border-radius: 50%;
  box-shadow: 0 87.68px 0 0 #0a0a0a;
}
.ldio-cvhceuidivw > div:nth-child(3) div:after {
  left: -10.96px;
  top: 32.88px;
  box-shadow: 87.68px 0 0 0 #0a0a0a;
}

.ldio-cvhceuidivw > div:nth-child(4) { border-color: transparent; }
.ldio-cvhceuidivw > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-cvhceuidivw > div:nth-child(4) div:before, .ldio-cvhceuidivw > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 10.96px;
  height: 10.96px;
  top: -10.96px;
  left: 20.55px;
  background: #28292f;
  border-radius: 50%;
  box-shadow: 0 63.02px 0 0 #28292f;
}
.ldio-cvhceuidivw > div:nth-child(4) div:after {
  left: -10.96px;
  top: 20.55px;
  box-shadow: 63.02px 0 0 0 #28292f;
}
.loadingio-spinner-double-ring-tt8wxt6hw5q {
  margin: auto;
  width: 137px;
  height: 137px;
  display: inline-block;
  overflow: hidden;
  background: #1f354b;
}
.ldio-cvhceuidivw {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-cvhceuidivw div { box-sizing: content-box; }
/* generated by https://loading.io/ */
